h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
    text-align: center;
}

div {
    text-align: center;
    /* outline: 2px solid red; */
    margin: auto 480px;
}

.main.header {
    box-sizing: border-box;
    background-color: rgb(255, 217, 217);
    color: rgb(43, 110, 132);
    padding: 40px;
}

.main.list {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: left;
}

.main-one, .main-two, .main-three {

    box-sizing: border-box;
    margin-bottom: 10px;
    display: inline-block;
}

.one, .two, .three {
    padding: 10px;
}

.one {
    color: rgb(43, 110, 132);
    background-color: rgb(255, 217, 217);

}

.two {
    color: rgb(43, 110, 132);
    background-color: rgb(255, 217, 217);
   
}

.three {
    color: rgb(43, 110, 132);
    background-color: rgb(255, 217, 217);

}
/* I think this is a css comment. Above is the main page styling */
/* Below is lasagna page styling */

.lasagna.header {
    text-align: left;
    background-color: yellow;
    color: rgb(240, 68, 38);
}

h3 {
    text-align: left;
    font-size: 20px;
} /* description is for all pages */

h4 {
    font-size: 18px;
}

.lasagna.steps {
    font-size: 18px;
    background-color: white;
}

.lasagna-ingred {
    font-size: 16px;
}

.sublist {
    font-size: 14px;
} /*sublist is for all pages... but only lasagna has sublists*/

.lasagna-steps {
    font-size: 16px;
}

.l-para {
    color: rgb(123, 30, 30);
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
} /* for all paragraphs */

/* below is cheddar straw styling */

.ccs.header {
    text-align: left;
}


/*below is chocky chip cookie styling */

.ccc.header {
    text-align: left;
}